/* lll.module.css */
.dissolve {
  animation: dissolve 1s forwards;
}

@keyframes dissolve {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
    filter: blur(10px);
  }
}

.show {
  animation: show 1s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}


.showLeft {
  animation: showLeft 2s forwards;
}

@keyframes showLeft {
  from {
   
    transform: translateX(-100%);
  }
  to {
    transform: translateX(30%);
  }
}

.floatingCycle {
  animation: floatingCycle 2s infinite alternate;
}

@keyframes floatingCycle {
  from {
    opacity: 0.8;
    /* transform: translateY(0); */
    /* box-shadow: 0 0 20px rgba(0,0,0,0.5); */
  }
  to {
    opacity: 1;
    /* transform: translateY(-10px); */
    /* box-shadow: 0 0 30px rgba(245, 245, 245, 0.7); */
  }
}

.showRight {
  animation: showRight 2s forwards;
}

@keyframes showRight {
  from {
   
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
/* Вместо отдельных анимаций на классе, объединяем */
.combinedAnimations {
  animation: 
    show 1s forwards,
    showLeft 2s forwards,
    floatingCycle 2s infinite alternate;
}

.combinedAnimations2 {
  animation: 
    show 1s forwards,
    showRight 2s forwards,
    floatingCycle 2s infinite alternate;
}
.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.712);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Обёртка для текста, чтобы можно было точно настроить отступы */
.textBioWrapper {
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
}

.textBioWrapper2 {
  max-width: 30%;
  width: 100%;
  margin: 0 auto;
}

.textBio {
  font-family: 'Press Start 2P', 'Courier New', monospace;
  font-size: 0.7rem;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 25px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px) invert(10%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 8px rgb(255, 255, 255);
  transition: all 0.3s;
}

.textBio h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #ff0;
  text-shadow: 0 0 15px #ff0, 0 0 30px #ff0;
}

.textBio p {
  margin-bottom: 15px;
  border-left: 2px solid rgb(250, 250, 250);
  padding-left: 15px;
}

.textBio p:last-child {
  margin-bottom: 0;
}